body{
	font-family: 'Patrick Hand', cursive;
}
img{
	width: 250px;
	height: 300px;
}
.img1{
	text-align: center;
	width: 250px;
	height: 450px;
	float: right;
	padding-right: 100px;
	padding-top: 50px;
}
.img2{
	text-align: center;
	width: 250px;
	height: 450px;
	float: right;
	padding-right: 100px;
	padding-top: 50px;
}
.img3{
	text-align: center;
	width: 250px;
	height: 450px;
	float: right;
	padding-right: 100px;
	padding-top: 50px;
}
.img4{
	text-align: center;
	width: 250px;
	height: 450px;
	float: right;
	padding-right: 100px;
	padding-top: 50px;
}
.img5{
	text-align: center;
	width: 250px;
	height: 450px;
	float: right;
	padding-right: 100px;
	padding-top: 50px;
}
.img6{
	text-align: center;
	width: 250px;
	height: 450px;
	float: right;
	padding-right: 100px;
	padding-top: 50px;
}
.img7{
	text-align: center;
	width: 250px;
	height: 450px;
	float: right;
	padding-right: 100px;
	padding-top: 50px;
}
.img8{
	text-align: center;
	width: 250px;
	height: 450px;
	float: right;
	padding-right: 100px;
	padding-top: 50px;
}

h1{
	margin: 0px;
}